---
---

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.book-cover {
  position: relative;
  margin-bottom: 60px;
  margin-top: 60px;
  overflow: hidden;
}

.book-page {
  border: 1px solid #333;
  float: left;
  height: 400px;
  padding: 15px 20px;
  width: 50%;
}

.page {
  transition: opacity 0.5s;
  width: 100%;
}

.page-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.progress {
  border: 1px solid #666;
  border-radius: 3px;
  height: 20px;
}

.progress-fill {
  background-color: yellow;
  border-radius: 3px;
  height: 100%;
  transition: width 0.25s;
}
