.panel,
.panel-heading {
  transition: all 2s;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  transition: background-color 0.5s;
}

.width0 { width: 0%; }

.width5 { width: 5%; }

.width10 { width: 10%; }

.width15 { width: 15%; }

.width20 { width: 20%; }

.width25 { width: 25%; }

.width30 { width: 30%; }

.width35 { width: 35%; }

.width40 { width: 40%; }

.width45 { width: 45%; }

.width50 { width: 50%; }

.width55 { width: 55%; }

.width60 { width: 60%; }

.width65 { width: 65%; }

.width70 { width: 70%; }

.width75 { width: 75%; }

.width80 { width: 80%; }

.width85 { width: 85%; }

.width90 { width: 90%; }

.width95 { width: 95%; }

.width100 { width: 100%; }

/* Franklin the fish adapted from http://codepen.io/jonitrythall/pen/bivaG
 */

/* Franklin's Container */
.fish {
  width: 150px;
  height: 100px;
  opacity: 0;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, transform 1.5s;
}

.fish-in {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Franklin */
.fish-body {
  position: relative;
  margin-top: 30px;
  margin-left: 40px;
  background-color: orange;
  border-radius: 50%;
  width: 150px;
  height: 100px;
  transition: backgroud-color 0.5s;
}

.fish-blue .fish-body {
  background-color: blue;
}

.fish-red .fish-body {
  background-color: red;
}

.eye {
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.pupil {
  position: absolute;
  z-index: 2;
  margin-left: 5px;
  margin-top: 5px;
  background-color: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.fin {
  margin-top: -100px;
  background-color: orange;
  border-radius: 50%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  width: 80px;
  height: 50px;
  transition: background-color 0.5s;
}

.fish-blue .fin {
  background-color: blue;
}

.fish-red .fin {
  background-color: red;
}

.fin-bottom {
  margin-top: -10px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
